[Unit]
Description=DiameterFW service

[Service]
User=p1sec
Group=p1sec
WorkingDirectory=/opt/SigFW/sigfw/sigfw.sigfw
ExecStart=/usr/bin/mvn exec:java -Dexec.mainClass="diameterfw.DiameterFirewall"
#Restart=always
StandardOutput=null
Restart=on-failure

[Install]
WantedBy=multi-user.target
